  html, body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #111;
            color: white;
                position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none; 
        }
/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
        .page-bg {
  position: fixed;
  inset: 0;
  background: url("../img/sodo1.jpg") center/cover no-repeat;
  filter: blur(7px);
  z-index: -2;
}

        .container {
            width: 100%;
            max-width: 900px;
            margin: auto;
            padding: 40px 20px;
            margin-top: 60px;
        }

        h2 {
            text-align: center;
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .sub {
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 40px;
            font-size: 18px;
        }

        .card {
            background: #111;
            padding: 30px;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.55);
            backdrop-filter: blur(6px);
        }

        .row {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        @media (min-width: 768px) {
            .row {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        label {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            
        }
        .booking-page label {
  display: flex;
  flex-direction: column;
}


        .booking-page input {
            margin-top: 8px;
            background: rgba(255, 255, 255, 0.12);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 0 14px;
            color: white;
            outline: none;
            transition: border 0.2s;
        }
.booking-page input {
  height: 52px;
  font-size: 16px;
}

        input:focus {
            border-color: #EEAE18;
        }

        /* NÚT TĂNG GIẢM SỐ NGƯỜI - MÀU ĐEN */
        

        button {
            margin-top: 30px;
            background: #EEAE18;
            border: none;
            border-radius: 10px;
            color: #03111E;
            font-weight: 600;
            cursor: pointer;
            transition: 0.25s;
            box-shadow: 0 4px 18px rgba(238, 174, 24, 0.35);
        }
.booking-page button {
  width: 100%;
  height: 56px;
  font-size: 20px;
}

        button:hover {
            filter: brightness(1.12);
            box-shadow: 0 6px 23px rgba(238, 174, 24, 0.4);
        }
