<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="../layout/footer.css">
</head>

<body>

    <div id="footer">
        <footer>
            <div class="footer-container">
                <div class="logo">
                    <div class="footer-title">
                        MỘT GÁNH THƯƠNG 
                        <br />TRÒN VỊ VIỆT
                    </div>
                    <div class="footer-logo">
                        <img src="/img/LOGO.png" alt="Gánh Quán" />
                    </div>
                </div>
                <div class="contact">
                    <div class="footer-title">Liên hệ</div>
                    <p><strong>Địa chỉ:</strong> Số 12, Chùa Bộc, P. Kim Liên, Hà Nội<br /><strong>Điện thoại:</strong>
                        0369952664<br /><strong>Email:</strong> ganhquan@gmail.com</p>
                </div>
                <div class="time">
                    <div class="footer-title">Giờ mở cửa</div>
                    <p><strong>Thứ 2 – Thứ 6: từ 10h-22h</strong>
                        <br /><strong>Thứ 7 – Chủ nhật: từ 8h-23h</strong>
                        <br /><strong>Phục vụ các dịp lễ</strong>
                    </p>
                </div>
                <div class="social">
                    <div class="footer-title">Mạng xã hội</div>
                    <div class="footer-social">
                        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1469.4661263039366!2d105.82894155000001!3d21.00916975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac8008dbd905%3A0x100650bea845689e!2zMTIgUC4gQ2jDuWEgQuG7mWMsIFF1YW5nIFRydW5nLCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpIDEwMDAwMA!5e1!3m2!1svi!2s!4v1765466164013!5m2!1svi!2s"
                            width="350" height="250" style="border:0;margin-top: 20px;border-radius:5px;" loading="lazy"></iframe>
                    </div>
                </div>
            </div>

            <div class="footer-top-line"></div>
            <div class="footer-bottom">
                ©2025 GanhQuan - Một gánh thương, tròn vị Việt.<br />
                Bảo mật thông tin | Bản quyền
            </div>
        </footer>
    </div>
</body>

</html>