
        * {
            margin: 0 ;
            padding: 0;
            box-sizing: border-box;
            font-weight: 700px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        footer {
            padding: 15px 30px;
            background-color: #000;
            width: 100%;
            color: white;
            margin-bottom: 0px;
        }

        .footer-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin-top: 10px;
        }

        .footer-container p {
            margin-top: 15px;
            margin-bottom: 0;
            line-height: 2;
            font-size: 20px;
        }

        .footer-logo img {
            margin-top: 5px;
            height: 150px;
            width: auto;
        }

        .footer-title {
            color: #efb022;
            font-weight: bold;
            margin-top: 10px;
            font-size: 25px;
        }

        .logo {
            width: 330px;
        }

        .footer-social a {
            display: inline-block;
            font-size: 30px;
            color: white;
            margin-top: 20px;
            margin-right: 15px;
            text-decoration: none;
            line-height: 28px;
        }

        .footer-social a :hover {
            color: white;
            transition: color 0.3s, transform 0.3s;
        }

        @media (max-width: 800px) {
            .footer-container {
                grid-template-columns: 200%;
                text-align: center;
                gap: 3%;
            }

            .footer-container {
                display: grid;
                grid-template-columns: 100%;
                gap: 0px;
                margin-top: 0px;
            }

            .footer-container p {
                line-height: 2;
                font-size: clamp(2vw, 100%, 5vw);
            }


            .footer-logo img {
                margin-top: 1%;
                width: 90%;
                height: auto;
            }


            .footer-social a {
                display: inline-flex;
                flex-direction: column;
                margin-top: 0px;
                text-decoration: none;
            }

            .footer-social a i {
                margin-top: 20px;
                display: flex;
                gap: 20px;
                color: white;
                font-size: clamp(4vw, 100%, 3vw);
            }

        }

        .footer-social a:hover i {
            color: #efb022;
            text-shadow:
                0 0 10px white,
                0 0 10px white;
            transform: scale(1.2);
        }

        .footer-bottom {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 14px;
        }

        .footer-top-line {
            height: 1px;
            width: 50%;
            background: #efb022;
            margin: 0 auto 15px auto;
        }