<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../layout/header.css">
</head>

<body>
  <div id="header">

    <header class="header">
      <div class="logo">
        <img src="../layout/logo.png" alt="Gánh Quán" />
      </div>
      <nav class="nav">
        <a href="#"><span>Trang chủ</span></a>
        <a href="#"><span>Thực đơn</span></a>
        <a href="#"><span>Khuyến mãi</span></a>
        <a href="#"><span>Tin tức</span></a>
        <a href="#"><span>Về chúng tôi</span></a>
      </nav>

      <div class="search-area">
        <input placeholder="Tìm kiếm" />
        <button class="lang-btn">EN</button>
      </div>
      <div class="hamburger" onclick="toggleMenu()">
        &#9776;
      </div>
    </header>
  </div>
</body>
</html>