<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>

  <link rel="stylesheet" href="../layout/header.css">
</head>

<body>

<header class="header">
  <div class="logo">
    <a href="/index.html">
      <img src="logo.png" alt="Logo">
    </a>
  </div>

  <nav class="nav">
    <a href="/index.html"><span>Trang chủ</span></a>
    <a href="/asset/pages/trangthucdon.html"><span>Thực đơn</span></a>
    <a href="/asset/pages/KhuyenMai.html"><span>Khuyến mãi</span></a>
    <a href="/asset/pages/Trangtintuc.html"><span>Tin tức</span></a>
    <a href="/asset/pages/AboutUs.html"><span>Về chúng tôi</span></a>
    <a href="/asset/pages/datban1.html"><span>Đặt bàn</span></a>
  </nav>

  <div class="search-area">
    <input type="text" placeholder="Tìm kiếm">
    <div class="lang-btn">EN</div>
  </div>

  <div class="hamburger">&#9776;</div>
</header>

</body>
</html>
